
.post-item-enter {
	opacity: 0.01;
}

.post-item-enter.post-item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.post-item-leave {
	opacity: 1;
}

.post-item-leave.post-item-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

.post-item-appear {
	opacity: 0.01;
}

.post-item-appear.post-item-appear-active {
	opacity: 1;
	transition: opacity .5s ease-in;
}
