#cherry-post-listing {
	position: relative;
}

.cherry-post-loader-container {
	width: 100%;
	height: 5px;
	top: 0;
	left: 0;
	display: block;
	position: fixed;
	z-index: 100;
}

.cherry-post-loader {
	width: 100%;
	height: 4px;

	.loading-bar {
		position: relative;
		width: 100%;
		height: 4px;
		background-color: #0d0d0d;

		&:before{
			display: block;
			position: absolute;
			content: "";
			left: -200px;
			width: 200px;
			height: 4px;
			background-color: #ff4f1e;
			animation: loading 2s linear infinite;
		}
	}

	i {
		color: $accent_1;
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__message {
		margin-left: 10px;
	}
}

.cherry-post-filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	margin-bottom: 40px;
	box-shadow: 7px 7px 10px 0px rgba( 21, 21, 30, 0.19 );

	&__term-list {
		padding: 20px;

		ul {
			display: flex;
			@include reset-list;

			li {
				margin-right: 20px;
				cursor: pointer;

				.inner {
					display: flex;
					position: relative;
					align-items: center;

					&:before {
						display: inline-block;
						width: 22px;
						height: 22px;
						margin-right: 5px;
						top: 0;
						left: 0;
						border-radius: 50%;
						background-color: #f7f7f7;
						box-shadow: inset 0 0 0 1px #e6e4e4;
						content:'';
					}

					svg {
						position: absolute;
						display: block;
						top: -2px;
						left: 4px;
						@include transition( all .3s ease );
					}

					span {
						@include transition( all .3s ease );
					}

					&:not( .active ):hover {
						color: $accent_1;
					}

					&.active {
						svg {
							fill: $accent_1;
						}
					}
				}

				&:last-child {
					margin-right: 0;
				}


			}
		}
	}

	&__layout-type {
		padding: 20px;

		.inner {
			display: flex;
		}

		.layout-type-item {
			padding: 5px 7px;
			cursor: pointer;
			margin-left: 2px;
			@include transition( all .3s ease );

			&:not( .active ):hover {
				color: $accent_1;
				background-color: $accent_3;
			}

			&.active {
				color: $accent_1;
			}
		}
	}

	&__sort-order {
		cursor: pointer;
		@include transition( all .3s ease );

		svg {
			fill: $accent_1;
		}

		span {
			margin: 0;
		}
	}
}

.cherry-post-list {
	margin-bottom: 30px;
	perspective: 500px;

	&--grid {
		display: flex;
		flex-wrap: wrap;
		margin-left: -0.9375rem;
		margin-right: -0.9375rem;

		.cherry-post {
			position: relative;
			box-sizing: border-box;
			display: flex;
			align-items: stretch;

			.inner-wrapper {
				min-width: 100%;
				margin-bottom: 1.875rem;
				background-color: #fff;
				box-shadow: 14px 14px 17px 0px rgba( 21, 21, 30, 0.19 );
			}

			&__terms {
				margin-top: -10px;
			}
		}
	}

	&--columns {
		column-count: 3;
		column-gap: 1.875rem;

		position: relative;


		.cherry-post {
			display: inline-block;

			.inner-wrapper {
				background-color: #fff;
				box-shadow: 7px 7px 10px 0px rgba( 21, 21, 30, 0.19 );
				margin: 0 0 30px 0;
			}
		}
	}

	&--timeline {
		position: relative;
		padding: 30px 0;

		&:before {
			width: 2px;
			height: 100%;
			display: block;
			position: absolute;
			background-color: $accent_1;
			top: 0;
			left: 50%;
			content: "";
		}

		.cherry-post {
			position: relative;
			display: flex;

			&:before {
				position: absolute;
				display: block;
				width: 10px;
				height: 10px;
				top: 0px;
				left: 50%;
				margin-left: -4px;
				border-radius: 50%;
				background-color: $accent_1;
				box-shadow: 0 0 0 6px lighten( $accent_1, 30% );
				content: '';
			}

			&:empty {
				&:before {
					content: none;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			.inner-wrapper {
				width: calc( 50% - 20px );
				background-color: #fff;
				box-shadow: 14px 14px 17px 0px rgba( 21, 21, 30, 0.19 );
			}

			&__meta-date {
				padding: 10px 15px;
			}

			&__terms {
				margin-top: -10px;
			}

			&--even {
				justify-content: flex-start;

				.cherry-post__meta-date {
					text-align: right;
				}

				.cherry-post__title,
				.cherry-post__trimed-content {
					text-align: right;
				}

				.cherry-post__meta-info {
					justify-content: flex-end;
				}
			}

			&--odd {
				justify-content: flex-end;

				.cherry-post__title,
				.cherry-post__trimed-content {
					text-align: left;
				}
			}

		}
	}

	&--list {
		.cherry-post {
			.inner-wrapper {
				display: flex;
				margin-bottom: 1.875rem;
				background-color: #fff;
				box-shadow: 14px 14px 17px 0px rgba( 21, 21, 30, 0.19 );
			}

			&:last-child {
				.inner-wrapper {
					margin-bottom: 0;
				}
			}

			&__thumbnail {
				min-width: 360px;
				img {
					min-width: 100%;
				}
			}

			&__title {
				text-align: left;
			}

			&__terms {
				justify-content: flex-start;
				margin: 0 0 30px 0;
			}
		}
	}
}

.cherry-post-controls {
	&__pagination {
		@include reset-list;
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0 0 30px 0;

			li {
				margin: 2px;
				span {
					padding: 10px;
					display: block;
					box-shadow: inset 0 0 0 1px $border_color;
					cursor: pointer;
					text-align: center;
					@include transition( all .3s ease );

					&:hover {
						color: $accent_3;
						background-color: $accent_1;
						box-shadow: none;
					}

					&.active {
						color: $accent_1;
						background-color: $accent_3;
						pointer-events: none;
					}
				}

				&.prev-page, &.next-page {
					span {
						color: $white;
						background-color: $accent_1;
						box-shadow: none;
					}
				}
			}
	}

	&__more-button {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		.more-button {
			padding: 15px 20px;
			color: $white;
			background-color: $accent_1;
			box-shadow: inset 0 0 0 1px $border_color;
			@include transition( all .3s ease );
			cursor: pointer;
		}
	}
}

.cherry-post {

	&__thumbnail {
		line-height: 0;

		&--cover-type {
			width: 100%;
			min-height: 270px;
			background-size: cover;
			background-position: center center;
		}
	}

	&__title {
		text-align: center;
		word-break: break-word;
		margin-bottom: 1em;
	}

	&__terms {
		@include reset-list;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		li {
			flex: 0 1 auto;
			min-height: auto;
			display: inline-flex;
			margin: 1px;

			a {
				color: $accent_3;
				background-color: $accent_1;
				padding: 2px 6px;

				&:hover {
					color: $accent_1;
					background-color: $accent_3;
					box-shadow: inset 0 0 0 1px $border_color;
				}
			}
		}
	}

	&__content {
		padding: 30px;
	}

	&__meta-info {
		display: flex;
		padding: 5px;
		.post-meta-item {
			margin-right: 5px;

			i {
				margin-right: 5px;
			}

			&:last-child {
				margin-right: 0;
			}

			&--author {
				flex: 0 1 auto;
			}

			&--date {
				flex: 0 1 auto;
			}

			&--comments {
				flex: 1 1 auto;
				text-align: right;
			}
		}
	}

	&__permalink {
		display: inline-block;
		color: $accent_3;
		background-color: $accent_1;
		padding: 10px 20px;

		&:hover {
			color: $accent_1;
			background-color: $accent_3;
			box-shadow: inset 0 0 0 1px $border_color;
		}
	}
}

.customizer-mode {
	.edit-button {
		width: 25px;
		height: 25px;
		line-height: 0;
		display: inline-block;
		margin-left: 10px;
		border-radius: 50%;
		background-color: white;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
		cursor: pointer;
			svg {
				margin: 4px;
				fill: #4c72fd;
			}
	}

	.content-editable {
		.title {

		}
	}
}

@keyframes loading {
	from { left: -200px; width: 30%; }
	50% { width: 30%; }
	70% { width: 70%; }
	80% { left: 50%; }
	95% { left: 120%; }
	to { left: 100%; }
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
