#cherry-post-listing{
	padding: 30px 0;
	position: relative;

	h2 {
		padding-right: 50px;
	}
}

.cherry-post-controls {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;

	&__term-list {
		ul {
			display: flex;
			@include reset-list;

				li {
					margin-right: 2px;

					&:last-child {
						margin-right: 0;
					}

					span {
						padding: 5px 10px;
						display: block;
						box-shadow: inset 0 0 0 1px $border_color;
						cursor: pointer;
						text-align: center;
						@include transition( all .3s ease );

						i {
							margin-left: 5px;
						}

						&:not( .active ):hover {
							color: $accent_1;
							background-color: $accent_3;
						}

						&.active {
							color: $accent_3;
							background-color: $accent_1;
							box-shadow: none;
						}
					}
				}
		}
	}

	&__layout-type {

		.inner {
			display: flex;
		}

		.layout-type-item {
			padding: 5px;
			box-shadow: inset 0 0 0 1px $border_color;
			cursor: pointer;
			margin-left: 2px;
			@include transition( all .3s ease );

			&:not( .active ):hover {
				color: $accent_1;
				background-color: $accent_3;
			}

			&.active {
				color: $accent_3;
				background-color: $accent_1;
				box-shadow: none;
			}
		}
	}
}

.cherry-post-list {
	margin-bottom: 30px;

	&--grid {
		display: flex;
		justify-content: justify-content;
		align-items: flex-start;
		flex-flow: row wrap;
		margin-left: -10px;
		margin-right: -10px;

		.cherry-post {
			width: 25%;

			.inner-wrapper {
				margin: 0 10px 30px 10px;
			}
		}
	}

	&--columns {
		column-count: 4;
		column-gap: 20px;

		.cherry-post {
			display: inline-block;

			.inner-wrapper {
				margin: 0 0 30px 0;
			}
		}
	}

	&--timeline {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 30px 0;

		&:before {
			width: 1px;
			height: 100%;
			display: block;
			position: absolute;
			background-color: $border_color;
			top: 0;
			left: 50%;
			content: "";
		}

		.cherry-post {
			width: 48%;

			&--even {

			}

			&--odd {

			}

		}
	}

	&--list {
		.cherry-post {
			.inner-wrapper {
				margin-bottom: 40px;
				padding-bottom: 40px;
				border-bottom: 1px solid $border_color;
			}

			&:last-child {
				.inner-wrapper {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
			}
			&__thumbnail {
				img {
					min-width: 100%;
				}
			}
		}
	}
}

.cherry-post {

	&__thumbnail {
		margin-bottom: 1em;
	}

	&__title {
		margin-bottom: 1em;
	}

	&__terms {
		@include reset-list;
		margin-bottom: 1em;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		li {
			flex: 0 1 auto;
			min-height: auto;
			display: inline-flex;
			margin: 1px;

			a {
				color: $accent_3;
				background-color: $accent_1;
				padding: 2px 6px;

				&:hover {
					color: $accent_1;
					background-color: $accent_3;
					box-shadow: inset 0 0 0 1px $border_color;
				}
			}
		}
	}

	&__content {
		margin-bottom: 1em;
	}

	&__meta-info {
		border-top: 1px solid $border_color;
		border-bottom: 1px solid $border_color;
		padding: 5px;
		margin-bottom: 1em;

		.post-meta-item {
			margin-right: 5px;

			i {
				margin-right: 5px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__permalink {
		display: inline-block;
		color: $accent_3;
		background-color: $accent_1;
		padding: 10px 20px;

		&:hover {
			color: $accent_1;
			background-color: $accent_3;
			box-shadow: inset 0 0 0 1px $border_color;
		}
	}
}
