@import "variables";
@import "mixins";
@import "post-list";
@import "animations";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

body{
	font:14px $font-family-base;
	letter-spacing:.1px;
	color: $text_color;
	background: $white;
	margin:0;
}

a {
	text-decoration: none;
	outline: 0;
	color: $accent_1;
	@include transition(all .3s ease);
}

a:hover,
a:focus{
	text-decoration:none;
	outline:0;
}

h2{
	margin:0 0 60px;
	font-size:42px;
	font-weight:500;
}

h2, h3, h4, h5 {
	color: $black;
}

h3{
	margin:0 0 30px;
	font-size:22px;
	font-weight:500;
}

h4{
	margin:0 0 25px;
	font-size:16px;
	font-weight:400;

	span {
		font-weight: 400;
	}
}

h5{
	font-size:13px;
	margin:0;
}

.container{
	padding: 30px;
	width: 100%;
	margin: 0 auto;

	@media ( min-width:600px ){
		width: 600px;
	}

	@media ( min-width:1200px ){
		width: 1200px;
	}
}

figure {
	margin: 0;

	img {
		max-width: 100%;
	}
}
