.navigations {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 30px;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  .prev,
  .next {
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    color: $blue-lighter;
    @include transition(all .3s ease);

    &:before {
      @include material-icon;
      font-size: 50px;
      color: inherit;
    }

    &:hover {
      color: white;
    }
  }

  .prev {
    &:before {
      content: "\e5cb";
    }
  }

  .next {
    &:before {
      content: "\e5cc";
    }
  }
}