#blog-listing-page {
  padding: 30px 0;
  position: relative;

  h2 {
    padding-right: 50px;
  }

  .project-categories {
    @include reset-list;
    display: flex;
    flex-flow: row wrap;
  }
}

.back-btn {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 36px 0 0;
  background: none;
  box-shadow: none;
  border: none;
  color: $blue-lighter;
  @include transition(all .3s ease);

  &:before {
    @include material-icon;
    font-size: 39px;
    content: "\e5c4";
    color: inherit;
  }

  &:hover {
    color: $black;
  }

  &cross:before {
    content: "\e5cd";
  }
}
